@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 dark:bg-dark antialiased;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  :root {
    --radius: 0.5rem;
  }
  .button-primary {
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      top: 0;
      left: 0;
      height: 50%;
      background-color: rgba(white, 0.1);
    }
  }
}
@layer utilities {
  .focus-primary:focus {
    @apply focus:ring-2 focus:ring-primary focus:ring-opacity-10;
  }
}
@layer components {
  .svg-icon {
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    animation: dash 1.5s linear forwards;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
@media screen and (max-width: 1023.98px) {
  .coures-slider {
    justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .coures-slider::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .coures-slider > * {
    scroll-snap-align: start;
  }
}
